header{
    background: #222;
    color: white;
    padding: 20px;
}
/* base styles */

h1{ 
    color: #ffffff;
    font-size: 75px;

}
p{
    font-size:35px;
    padding:50px;

}
body{

    background:blue
}

h2{
 
    color: cyan;
    font-size: 55px;
}

#img1 {
    float: right;
    padding-right: 20px;
    height: 15%;
    width: 15%;
}

#img2{
    padding-left: 25px;
    height:10%;
    width:10%;
}

ol{
    font-size: 35px;
    background: #444;
    color: #ffffff;
    text-align:center;
    list-style-type: decimal;
    
}
li{
    display:inline; 
    display:list-item;
    text-align: center;
    list-style-position: inside;
}
ul{
    font-family: 'Times New Roman', Times, serif;
    font-size: 25px;
}