header{
    background: #222;
    color: white;
    padding: 20px;
}
/* base styles */

h1{ 
    color: #ffffff;
    font-size: 75px;

}

body{

    background:blue
}

h2{
 
    color: cyan;
    font-size: 55px;
}